<h2 id= "community" class="display-2  m-5 mb-5 tr text-center"> Welcome to the Furnico Community</h2>

<div class="flickr_pagination">
  
  <%= will_paginate @users, :container=> false %>

</div>
<div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%=link_to (user.first_name + ' ' + user.last_name).capitalize(), user_path(user) %>            
          </div>
          <div class="card-body">
            <h5 class="card-title">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
          </div>
            </h5>
            <p class="card-text"><%= pluralize(user.products.count, "products") %></p>
            <%= link_to "View profile", user, class: "btn btn-outline-success" %>
            <% if logged_in?%>
              <% if (user == current_user || current_user.admin?)%>
                <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
              <% end %>
               <% if (user == current_user ||current_user.admin?)%>
                <%= link_to "Delete profile",user_path(user), method: :delete, class: "btn btn-outline-danger", data:{ confirm: "Are you sure you want to delete #{(user.first_name + ' ' + user.last_name).capitalize()} 's profile ?"} %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>